<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="ru.ubsmobile.MainApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:label="Крокус-Онлайн"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.krk.ubsmobile.provider"
            android:grantUriPermissions="true"
            android:exported="false"
            tools:replace="android:authorities"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:launchMode="singleTop"
            android:name="ru.ubsmobile.MainActivity"
            android:screenOrientation="portrait"
            android:label="Крокус-Онлайн"
            tools:replace="android:label"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="Крокус-Онлайн">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bank100000000212" android:host="me2mepull.nspk.ru" />
                <data android:scheme="bank100000000212" android:host="sbpay" />
                <data android:scheme="bank100000000212" android:host="qr.nspk.ru" />
                <data android:scheme="https" android:host="qr.nspk.ru" />
            </intent-filter>
        </activity>
    </application>
</manifest>
